//==============Variables============//
//====================================//

$red : rgba(214,43,65,1);
$darkgrey : #232529;
$grey : #2b2d31;
$lightgrey : rgba(89,93,102,1);
$black : rgba(30,31,34,1);

@font-face {
    font-family:Bebas ;
    src: url("fonts/BEBASNEUE BOLD.TTF");
}

@font-face {
    font-family:UniSans;
    src: url("fonts/Uni Sans Heavy.otf");
}

